.FooterContent {
  background: black;
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
  padding: 10px 10px;
  color: whitesmoke;
  font-size: small;
  text-align: center;
}
